@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: var(--font-inter);

}

:root {
    --color-dark-blue: #021024;
    --color-deep-navy: #052659;
    --color-medium-blue: #5483b3;
    --color-light-blue: #7da0ca;
    --color-sky-blue: #c1e8ff;
    --color-white: #ffffff;
    --color-blur: #9abadc96;
    --color--black: #1C1C1C;

    --font-inter: "Inter", sans-serif;
    --font-logo: 'extenda-80-peta', sans-serif;

    --font-poppins: "Poppins", sans-serif;
    --font-work-sans: "Work Sans", sans-serif;
}

.container-100{
    background-color: var(--color-medium-blue);
}

section {
    width: 100%;
    max-width: 1351px;
    margin: 0 auto;
}


/*Reseñas*/
.reseñas {
    width: 100%;
    height: fit-content;
    max-width: 1365px;
    margin: 0 auto;
    padding: 5rem 2.5rem 1.5rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
}



.contain-title-reseña {
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 400px;
    justify-content: flex-start;
    align-items: flex-start;
}



.container-reseña {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.search-reseñas {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-container-reseñas {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    top: -35px;
    width: 90%;
    margin: 0;
    padding: 12px 23px;
    background-color: var(--color-white);
    border: 1px solid #e5e2e2;
    border-radius: 20px;
    outline: none;
}



.search-container-reseñas svg {
    margin-top: 1px;
    width: 20px;
    height: 20px;

}

.search-container-reseñas input {
    background-color: var(--color-white);
    border: none;
    outline: none;
    width: 100%;
    max-width: 400px;
    font-size: 13px;
}

.contain-section {
    width: 100%;
    border-top: 1px solid var(--color-medium-blue);
}

.card-reseña {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #a4a1a1;
    padding: 10px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-reseña-text {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.card-reseña-text a {
    text-decoration: underline;
}

.personal_info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.img-reseña {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width: 930px) {

    .preguntas_frecuentes,
    .reseñas {
        padding-top: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr
    }

    .ctrl2,
    .contain-title-reseña {
        width: 100%;
        justify-content: center;
        align-items: center;
        min-width: 0px;
        max-width: 100%;
        text-align: center;
        padding: 10px 0px;
    }

    .contain-title-reseña h3,
    .ctrl2 h3 {
        position: relative;
        top: 40px;
    }

}

.question {
    margin-top: 20px;
    width: 100%;
}

.contain-title-reseña h3,
.ctrl2 h3 {
    position: sticky;
    top: 20px;
    font-size: 35px;
    font-weight: 600;
    color: var(--color--black);
    font-family: var(--font-alexandria);
}

.contain-title-reseña h3 span,
.ctrl2 h3 span {
    color: var(--color-medium-blue);
}


/*cards main*/


.cardd {
    width: 300px;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
    color: white;
    min-height: 460px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 128, 255, 0.518));
    padding-bottom: 12px;
}

.cardd img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    display: block;
}


.card-content {
    padding: 10px 20px 10px 20px;
    position: relative;
    bottom: -1;
    width: 100%;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.card-description {
    color: #b7b7b7;
    font-size: 13px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 61px;
}

.badges {
    margin-bottom: 10px;
    display: flex;
}

.badge {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
}

.badge-star {
    display: block;
    width: fit-content;
    display: flex;
}


.price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}

.reserve-btn {
    display: block;
    width: 90%;
    margin: 0px auto;
    padding: 8px 10px;
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.reserve-btn:hover {
    background-color: #eee;
}

.container-bookmark {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 8px;
    right: 10px;
    border-radius: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
}

.bookmark {
    z-index: 2;
    color: var(--color-white);
}

.blur {
    background: rgba(05, 05, 05, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 7px;
    opacity: 0;
    /*opacity: 0;*/
}

.card:hover a,
.card:hover .blur {
    opacity: 1;
}



/*footer*/

footer {
    width: 100%;
    background-color: var(--color-medium-blue);
    padding: 4.4rem 3.5rem 3rem 3.5rem;
    color: var(--color-white);
}

.info-footer {
    width: 100%;
    max-width: 1351px;
    margin: 0 auto;
    overflow-x: hidden;
}



.links-container-footer {
    display: grid;
    grid-template-columns: 1.2fr repeat(4, 1fr);
    padding: 20px 0px;
}

.links-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    text-align: start;
}

.social_footer {
    margin-top: 50px;
    padding-bottom: 20px;
}

.icon_social svg {
    width: 32px;
    height: 32px;
}

.mt-4px {
    margin-top: 4px;
}

footer .logo-footer {
    font-size: 70px;
}

.con-logo-footer {
    padding-left: 50px;
}

.logo-footer span {
    font-family: var(--font-logo);
    font-weight: 700;
    letter-spacing: 1.4px;
}

.font-bold {
    font-weight: 700;
    font-size: 18.5px;
}

.social_medias_links {
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.turism_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 15px;
}

.turism_links svg {
    width: 60px;
    height: 60px;
}


.white-bg {
    background: #fff;
}

.social_medias_links {
    padding-bottom: 10px;
}

.copyright {
    border-top: 1px solid white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 0px;
    font-size: 13px;
}

.copyright p:first-child {
    font-size: 14px;
    font-weight: 800;
    color: var(--color-white);
}

.idiomas {
    width: 100%;
    height: 90px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idiomas select {
    background-color: #e5e2e2;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    outline: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208L10%2013L15%208%22%20stroke%3D%22%234A90E2%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    width: 250px;
}

.idiomas select option {
    background-color: #fff;
    color: #333;
}

.idiomas select:focus {
    border-color: #2a73c2;
}


/*manager*/
.container-manager {
    width: 100%;
    max-width: 100%;
    background: #ECF4E9;
    /*9abadc96*/
    height: 100vh;
    padding: 0;
    display: flex;

}


.side-bar {
    width: 100%;
    max-width: 110px;
    height: 100vh;
    align-items: center;
    padding-top: 20px;
}

.btn-salir-admin {
    margin-top: 155px;
    width: 48px;
    height: 48px;
    background-color: #9abadc96;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}



.side-bar:hover {
    transition: all 0.3s ease-in-out;
}




.logo-manager img {
    width: 65px;
    object-fit: contain;
    aspect-ratio: 1/1;
    height: 40px;
    padding-left: 10px;
}

.logo-manager {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu {
    padding: 0;
}


.menu-link::after {
    left: 15px;
    position: absolute;
    height: 20px;
    background-color: var(--color-light-blue);
    color: #000000;
    padding: 4px 8px;
    font-size: 11.5px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.menu-link:hover::after {
    opacity: 1;
}

.menu-link1::after {
    content: "Cliente";
    left: 16px;
    top: -16px;
}

.menu-link2::after {
    content: "Actividades";
    left: 4px;
    top: 35px;
}

.menu-link3::after {
    content: "Colaboradores";
    left: -4px;
    top: 85px;
}

.menu-link4::after {
    content: "Reservaciones";
    left: -4px;
    top: 135px;
}

.menu-link5::after {
    content: "Planes";
    left: 16px;
    top: 190px;
}

.menu-link6::after {
    content: "Fechas";
    left: 14px;
    top: 240px;
}




.menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    list-style: none;
    padding: 0;
    position: relative;
    gap: 10px;
    padding: 0px 20px;
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 8px;
}


.menu ul li a:hover {
    /*background-color: var(--color-light-blue);*/
    transition: all 0.3s ease-in-out;
}

.containt-text-bar {
    width: 100%;
    display: none;
    justify-content: start;
    align-items: center;
}

.containt-text-bar p {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}

.menu ul li a svg {
    min-width: 24px;
    min-height: 24px;
    color: var(--color-white);
}


/*Main content manager*/

.main-content {
    width: 100%;
    height: 100vh;
    border-radius: 25px 0px 0px 25px;
    background: #FBFBFD;
    padding: 20px 35px;
}

.header_db {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_db h1 {
    font-size: 16px;
    font-weight: 800;
    color: var(--color--black);
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.filtro_db {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
    padding: 0px 18px 0px 0px;
    font-size: 12px;
    margin: 10px 0px;
}

.filtro_db-main {
    justify-content: space-evenly;
}

.filtro-function {
    display: flex;
    padding: 10px 15px;
    background-color: var(--color-white);
    border: 1px solid #e5e2e2;
    border-radius: 20px;
    outline: none;
    justify-content: flex-start;
    align-items: center;
}

.svgc {
    padding: 0px 12px 0px 5px;
}

.filtro-eazy {
    width: fit-content;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1px;

}

.cantidades {
    font-size: 20px;
    font-weight: 700;
}

.search-filter {
    border: 1px solid #e5e2e2;
    border-radius: 8px;
    padding: 5px;
}

.btn-filtra {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e2e2;
    border-radius: 8px;
    padding: 5px 10px;
    gap: 5px;
}

.add-btn {
    border: 1px solid #e5e2e2;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
    padding: 5px 10px;
    background-color: #2b5f9696;
}

.table_db {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    overflow-y: scroll;
}

.table_db table {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;

    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.table_db table thead {
    background: var(--color-blur);
    border-radius: 8px;
}

.table_db table thead th {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;

    color: var(--color--black);
}

.table_db table tbody {
    padding: 10px 20px;
}

.table_db table tbody tr {
    border-bottom: 1px solid #e5e2e2;
    text-align: center;
    border-radius: 8px;
}

.table_db table tbody tr td {
    padding: 8px 20px;
    font-size: 12px;
}

.table_db table tbody tr td a {
    text-decoration: underline;
}

.table_db table tbody tr td a:hover {
    color: var(--color-medium-blue);
}


.movimientos {
    padding: 3px 10px;
    font-size: 14px;
    justify-content: space-between;
    color: #b9b9b9;
}

.movimientos div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.movimientos div:nth-child(1) select {
    height: 30px;
    padding: 0px 10px;
    border-radius: 8px;
    background-color: #2b5f9696;
    color: #fff;
    font-weight: 700;
}

.movimientos div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.container-border {
    width: fit-content;
}


.borders {
    border: 1px solid #e5e2e2;
    border-radius: 8px;
    padding: 8px 13px;
    font-size: 11px;
    margin: 0px 1.5px;
    font-weight: 700;
    color: black;
}

.copyright_db {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #b9b9b9;
}


.copyright_db div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 20px;
}

.copyright_db div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.modal-edits {
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.title-modals {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 15px;
}

.modal form,
.modal-edits form{
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    margin: 40px 0px;
    max-width: 500px;
    background: white;
    padding: 2rem;
    border-radius: 8px;
}

.modal-add form {
    height: fit-content;
    overflow: hidden;
}

.modal form label,
.modal-edits form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
    font-size: 0.75rem;
}


.modal form input,
.modal-edits form input,
.modal-edits form textarea,
.modal-edits form select,
.modal form textarea,
.modal form select {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.75rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.modal form input:focus,
.modal-edits form input:focus {
    outline: none;
}


.close-modal {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal.show {
    display: flex;

}

.acciones {
    width: 50px;
}

.modal-delete form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    width: 400px;
    max-width: 350px;
    height: 360px;
    overflow: hidden;
    gap: 50px;
}

.modal-delete form h2 {
    font-size: 30px;
}


.btn_delete {
    display: flex;
    background-color: #f00;
    padding: 6px 10px;
}

.btn_edit {
    display: flex;
    padding: 6px 10px;
    background-color: #ffaf00;
}

.delete-btn {
    background-color: #f00;
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #dc2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 90%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}




/* From Uiverse.io by Yaya12085 */
.card {
    width: 430px;
    height: 360px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee2e2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.image svg {
    color: #dc2626;
    width: 1.5rem;
    height: 1.5rem;
}

.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.message {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.actions {
    margin: 0.75rem 1rem;
    background-color: #f9fafb;
}

.desactivate {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #dc2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.actions .cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

button {
    cursor: pointer;
}

.btn-submit {
    padding: 7px 20px;
    color: #fff;
    background-color: var(--color-medium-blue);
    border-color: var(--color-medium-blue);
    border-radius: 12px;
    font-size: 13px;
}

.btns-edits {
    display: flex;
    justify-content: space-between;
}

.cancelar-edits {
    cursor: pointer;
    padding: 7px 20px;
    font-size: 13px;
    color: #fff;
    background-color: #dc2626;
    border-color: #dc2626;
    border-radius: 12px;
}

/*Colaborado seccion controlador de bs*/

 .menu-linkColabAct::after{
    content: "Planes";
        left: 20px;
        top: -16px;
    }
    .menu-linkColabFecha::after{
    content: "Fechas";
        left: 14px;
        top: 85px;
    }


    .btn-colabAct{
        margin-top: 255px;
}