@import "tailwindcss";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #fff9f9;
    background-size: cover;
}


@media (max-width: 560px) {

    html,
    body {
        height: 115vh;
    }

    .bg_login {
        height: 115vh;
    }
}


.container-100 {
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #252525;
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    padding: 15px 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 134;
    width: 100%;
    background-color:var(--color-medium-blue);
    max-width: 1351px;
    gap: 60px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: var(--color-white);
    font-weight: 400;
    gap: 80px;
    padding: 0 20px;
}

.nav-links li {
    display: flex;
}

.nav-links li a {
    z-index: 2;
    font-weight: 800;
}

.logo {
    z-index: 2;
    object-fit: cover;
    width: 100px;
    margin-left: 60px;
    height: 35px;
}

@media (max-width: 700px) {
    .Formulario {
        align-items: center;
        padding: 50px 20px 0px 20px;
    }

    h1 {
        text-align: center;
    }
}

.text-mayus {
    margin-left: 6px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #aaaaaa;
}




.contain-info-more {
    grid-area: info;
    padding: 0px 10px;
    color: #ffffff;
    font-weight: 600;
}





.Formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 428px;
    height: fit-content;
    background-color: #0A0A0A;
    border-radius: 20px;
    border: 1px solid #252525;
    padding: 20px 20px 5px 20px;
}

.Formulario h1 {
    font-size: 32px;

}

form {
    width: 100%;
    max-width: 794px;
    display: grid;
    place-items: center;
    grid-template-areas:
        "usuario "
        "contraseña"
        "login_grid"
        "google"
        "info";
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0px 20px 10px 20px;
}

.form-logo {
    border: 1px solid #252525;
    margin: 20px 0px;
    width: 90px;
    height: 90px;
}

.containt-input {
    width: 100%;
    justify-content: space-between;
    border: 0.5px solid #3d3c3c;
    color: white;
    padding: 10px 16px;
    border-radius: 14px;
}


.info-input {
    width: 100%;
    font-size: 15px;
}

.info-input input::placeholder {
    color: #747171;
    opacity: 1;
}

.info-input input:hover {
    background-color: initial;
    border-color: initial;
    box-shadow: none;
    outline: none;
    cursor: auto;
    /* o default si quieres */
}

.btn {
    width: 100%;
    background: #eef4f7;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}

.registrarse-contain {
    background-color: #1f1f1f;
    border-radius: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding: 7px 20px;
    color: #ffffff;
    gap: 7px;
}

.registrarse-contain p {
    color: #747171;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding: 2px 0px;
    text-align: center;
    margin-bottom: 20px;
}

.login-sub-text {
    margin-bottom: 25px;
}


.nombre {
    grid-area: nombre;
}

.apellido {
    grid-area: apellido;
}

.usuario {
    grid-area: usuario;
}

.contraseña {
    grid-area: contraseña;
}

.google {
    grid-area: google;
}

.login_grid {
    grid-area: login_grid;
}

.card-ingreso {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    width: 90%;
}

.card-ingreso.show {
    display: block;
}


.header-ingreso {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
}

.image-ingreso {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee2e2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}


.image-ingreso svg {
    color: #dc2626;
    width: 1.5rem;
    height: 1.5rem;
}


.content-ingreso {
    margin-top: 0.75rem;
    text-align: center;
}

.title-ingreso {
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.message-ingreso {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.actions-ingreso {
    margin: 0.75rem 1rem;
    background-color: #f9fafb;
}


.btn-modal {
    display: inline-flex;
    padding: 0.25rem 0rem;
    color: #000000;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    background-color: #dc2626;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.btn-modal:hover {
    background-color: #982d2d;
}

button {
    cursor: pointer;
}
