<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="icon" type="image/svg+xml" href="/images/logo_rework.jpg" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>ETA - Buscando Eventos, Toures & Actividades en Cartagena </title>

</head>

<body>
    <section class="container-manager ">
        <div class="side-bar flex flex-col">
            <a href="" class="logo-manager">
                <img src="../images/logoInBlack.webp" alt="">
            </a>
            <div class="menu">
                <ul>
                    <li class="menu-link menu-link1">
                        <a href="#" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M12 4.5a.5.5 0 0 0-.5-.5a.5.5 0 0 0-.5.5v1.53c-2.25.25-4 2.15-4 4.47v5.91L5.41 18h12.18L16 16.41V10.5c0-2.32-1.75-4.22-4-4.47zM11.5 3A1.5 1.5 0 0 1 13 4.5v.71c2.31.65 4 2.79 4 5.29V16l3 3H3l3-3v-5.5C6 8 7.69 5.86 10 5.21V4.5A1.5 1.5 0 0 1 11.5 3m0 19a2.5 2.5 0 0 1-2.45-2h1.04a1.495 1.495 0 0 0 2.82 0h1.04a2.5 2.5 0 0 1-2.45 2"
                                    stroke-width="0.5" stroke="#000" />
                            </svg>
                        </a>
                    </li>

                    <li class="menu-link menu-link2">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M5 5h4l3 3h6a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3m0 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h13a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-6.41l-3-3z"
                                    stroke-width="0.5" stroke="#000" />
                            </svg>
                        </a>
                    </li>

                    <li class="menu-link menu-link3">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M12 4.5a.5.5 0 0 0-.5-.5a.5.5 0 0 0-.5.5v1.53c-2.25.25-4 2.15-4 4.47v5.91L5.41 18h12.18L16 16.41V10.5c0-2.32-1.75-4.22-4-4.47zM11.5 3A1.5 1.5 0 0 1 13 4.5v.71c2.31.65 4 2.79 4 5.29V16l3 3H3l3-3v-5.5C6 8 7.69 5.86 10 5.21V4.5A1.5 1.5 0 0 1 11.5 3m0 19a2.5 2.5 0 0 1-2.45-2h1.04a1.495 1.495 0 0 0 2.82 0h1.04a2.5 2.5 0 0 1-2.45 2"
                                    stroke-width="0.5" stroke="#000" />
                            </svg>

                        </a>
                    </li>

                    <li class="menu-link menu-link4">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M11.5 14c4.14 0 7.5 1.57 7.5 3.5V20H4v-2.5c0-1.93 3.36-3.5 7.5-3.5m6.5 3.5c0-1.38-2.91-2.5-6.5-2.5S5 16.12 5 17.5V19h13zM11.5 5A3.5 3.5 0 0 1 15 8.5a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8 8.5A3.5 3.5 0 0 1 11.5 5m0 1A2.5 2.5 0 0 0 9 8.5a2.5 2.5 0 0 0 2.5 2.5A2.5 2.5 0 0 0 14 8.5A2.5 2.5 0 0 0 11.5 6"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="menu-link menu-link5">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M11.5 14c4.14 0 7.5 1.57 7.5 3.5V20H4v-2.5c0-1.93 3.36-3.5 7.5-3.5m6.5 3.5c0-1.38-2.91-2.5-6.5-2.5S5 16.12 5 17.5V19h13zM11.5 5A3.5 3.5 0 0 1 15 8.5a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8 8.5A3.5 3.5 0 0 1 11.5 5m0 1A2.5 2.5 0 0 0 9 8.5a2.5 2.5 0 0 0 2.5 2.5A2.5 2.5 0 0 0 14 8.5A2.5 2.5 0 0 0 11.5 6"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="menu-link menu-link6">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M11.5 14c4.14 0 7.5 1.57 7.5 3.5V20H4v-2.5c0-1.93 3.36-3.5 7.5-3.5m6.5 3.5c0-1.38-2.91-2.5-6.5-2.5S5 16.12 5 17.5V19h13zM11.5 5A3.5 3.5 0 0 1 15 8.5a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8 8.5A3.5 3.5 0 0 1 11.5 5m0 1A2.5 2.5 0 0 0 9 8.5a2.5 2.5 0 0 0 2.5 2.5A2.5 2.5 0 0 0 14 8.5A2.5 2.5 0 0 0 11.5 6"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="menu-link menu-link7">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M11.5 14c4.14 0 7.5 1.57 7.5 3.5V20H4v-2.5c0-1.93 3.36-3.5 7.5-3.5m6.5 3.5c0-1.38-2.91-2.5-6.5-2.5S5 16.12 5 17.5V19h13zM11.5 5A3.5 3.5 0 0 1 15 8.5a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8 8.5A3.5 3.5 0 0 1 11.5 5m0 1A2.5 2.5 0 0 0 9 8.5a2.5 2.5 0 0 0 2.5 2.5A2.5 2.5 0 0 0 14 8.5A2.5 2.5 0 0 0 11.5 6"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <div class="header_db">
                <h1>Clientes - Base de Datos</h1>

                <div class="profile">
                    <img src="/images/perfil_colaborador.jpg" alt="Profile Picture">
                </div>
            </div>

            <div class="filtro_db">
                <div class="filtro-eazy">
                    <a href="">Todo</a>
                    <a href="">Pagado</a>
                    <a href="">Sin pagar</a>
                </div>
                <div class="flex gap-1">
                    <a class="search-filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6" />
                        </svg>
                    </a>
                    <a class="btn-filtra">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 24 24">
                            <path fill="none" stroke="#000" stroke-dasharray="56" stroke-dashoffset="56"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 4h14l-5 6.5v9.5l-4 -4v-5.5Z">
                                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0" />
                            </path>
                        </svg>
                        <p>Filtrar</p>
                    </a>



                    <div class="add-btn btn_add">
                        <button class="text-open-add" id="open-add-modal">Agregar</button>
                    </div>

                    <div class="add-btn btn_delete">
                        <button class="text-open-delete" id="open-delete-modal">Eliminar</button>
                    </div>


                </div>
                <div class="modal modal-add">
                    <span class="close-modal">&times;</span>
                    <p>fsdfs</p>

                    <form th:action="@{/cliente}" method="post" th:object="${cliente}">

                        <label>Nombre Completo</label>
                        <input type="text" th:field="*{persona.nombreCompleto}" required>

                        <label>Fecha Nacimiento</label>
                        <input type="date" th:field="*{persona.fechaDeNacimiento}" />

                        <label>Teléfono</label>
                        <input type="tel" th:field="*{persona.telefono}" required>

                        <label>Email</label>
                        <input type="email" th:field="*{persona.correoElectronico}" required>



                        <label>Preferencias</label>
                        <input type="text" th:field="*{preferencias}" required>

                        <button type="submit" class="btn">Agregar</button>                    
                    </form>
                    <button class="close-btn" id="closeAddModal">Cerrar</button>
                </div>

                <!-- Modal para Eliminar -->
                <div class="modal modal-delete">
                    <span class="close-modal">&times;</span>
                    <form th:action="@{/cliente}" method="post">
                        <label>ID</label>
                        <input type="number" name="id" required>
                        <button type="submit" class="btn">Eliminar</button>
                    </form>                    
                    <button class="close-btn" id="closeDeleteModal">Cerrar</button>
                </div>
                
            </div>


            <div class="table_db">
                <table>
                    <thead>
                        <tr>
                            <th>id persona</th>
                            <th>Nombre Completo</th>
                            <th>Fecha Nacimiento</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Preferencias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${clientes}">
                            <td th:text="${cliente.id_cliente}"></td>
                            <td th:text="${cliente.persona.nombreCompleto}"></td>
                            <td th:text="${cliente.persona.fechaNacimiento}"></td>
                            <td th:text="${cliente.persona.telefono}"></td>
                            <td th:text="${cliente.persona.correo_Electronico}"></td>
                            <td th:text="${cliente.preferencia}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="movimientos flex spece">
                <div class="flex">
                    <p>mostrar</p>
                    <select name="" id="paginas_db">
                        <option value="">1</option>
                    </select>
                    <p>hasta 10</p>
                </div>
                <div class="container-border">
                    <a href="" class="borders">z</a>
                    <a href="" class="borders">1</a>
                    <a href="" class="borders">2</a>
                    <a href="" class="borders">3</a>
                    <p>...</p>
                    <a href="" class="borders">15</a>
                    <a href="" class="borders">=></a>
                </div>
            </div>
            <div class="copyright_db">
                <div class="div">
                    <p>Copyright © 2025. Todos los derechos reservados.</p>
                    <p>politicas privacidad</p>
                    <p>terminos y condiciones</p>
                    <p>contacto</p>
                </div>

                <div class="social-media">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#b9b9b9"
                                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
                                stroke-width="0.4" stroke="#b9b9b9" />
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#b9b9b9"
                                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                                stroke-width="0.4" stroke="#b9b9b9" />
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path
                                    d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z" />
                                <path fill="#b9b9b9"
                                    d="M19.753 4.659a1 1 0 0 0-1.506-1.317l-5.11 5.84L8.8 3.4A1 1 0 0 0 8 3H4a1 1 0 0 0-.8 1.6l6.437 8.582l-5.39 6.16a1 1 0 0 0 1.506 1.317l5.11-5.841L15.2 20.6a1 1 0 0 0 .8.4h4a1 1 0 0 0 .8-1.6l-6.437-8.582l5.39-6.16ZM16.5 19L6 5h1.5L18 19z"
                                    stroke-width="0.4" stroke="#b9b9b9" />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>        
    </section>

    <script th:src="@{/js/cliente.js}"></script>
    <script src="../static/js/cliente.js"></script>

</body>

</html>