<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/global.css">
</head>

<body>
    <div class="comtao">

      <!-- Modal de éxito -->
    <div class="card show" th:if="${IngresoExitoso != null}">
        <div class="header">
            <div class="image image-active">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
                        stroke-width="0.4" stroke="currentColor" />
                </svg>
            </div>
            <div class="content">
                <span class="title">Cuenta Activada</span>
                <p class="message" th:text="${IngresoExitoso}"></p>
            </div>
            <div class="actions">
                <button class="btn-modal activado" type="button">Activado</button>
            </div>
        </div>
    </div>

</body>
<style>
    .comtao {
        width: 100%;
        height: 100vh;
        position: relative;
    }
</style>

</html>