<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="icon" type="image/svg+xml" href="/images/logo_rework.jpg" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>ETA - Actividades Base de Datos </title>

</head>

<body>
    <section class="container-manager ">
        <div class="side-bar flex flex-col">
            <a th:href="@{/indice}" class="logo-manager">
                <img th:src="@{/images/logoInBlack.webp}" alt="">
            </a>
            <div class="menu">
                <ul>
                    <li class="menu-linkColabAct menu-link">
                        <a th:href="@{/PlanesColaborador}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M15 16h3q.425 0 .713-.288T19 15V9q0-.425-.288-.712T18 8h-3q-.425 0-.712.288T14 9v6q0 .425.288.713T15 16m1-2v-4h1v4zm-7 2h3q.425 0 .713-.288T13 15V9q0-.425-.288-.712T12 8H9q-.425 0-.712.288T8 9v6q0 .425.288.713T9 16m1-2v-4h1v4zm-3 1V9q0-.425-.288-.712T6 8t-.712.288T5 9v6q0 .425.288.713T6 16t.713-.288T7 15m-5 3V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20H4q-.825 0-1.412-.587T2 18m2 0h16V6H4zm0 0V6z"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="menu-link menu-link2">
                        <a th:href="@{/actividadColaboradores}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M20 12c0-.76.43-1.42 1.06-1.76c.6-.33.94-1.01.94-1.7V6c0-1.1-.9-2-2-2H4c-1.1 0-1.99.89-1.99 1.99v2.55c0 .69.33 1.37.94 1.69C3.58 10.58 4 11.24 4 12s-.43 1.43-1.06 1.76c-.6.33-.94 1.01-.94 1.7V18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-2.54c0-.69-.34-1.37-.94-1.7c-.63-.34-1.06-1-1.06-1.76m-5.5 4.1L12 14.5l-2.5 1.61c-.38.24-.87-.11-.75-.55l.75-2.88l-2.3-1.88a.503.503 0 0 1 .29-.89l2.96-.17l1.08-2.75c.17-.42.77-.42.93 0l1.08 2.76l2.96.17c.45.03.64.6.29.89l-2.3 1.88l.76 2.86c.12.45-.37.8-.75.55"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="btn-salir-admin btn-colabAct" th:href="@{/ingreso/colaborador}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m14 7l-5 5l5 5" />
                </svg>
            </a>
        </div>

        <div class="main-content">
            <div class="header_db">
                <h1> Actividades - Base de Datos</h1>
                <!--                        
                <div class="profile">
                    <img src="/images/perfil_colaborador.jpg" alt="Profile Picture">
                </div>
                -->
                <p th:text="${colaboradorLogueado.persona.nombre}"></p>

            </div>

            <div class="filtro_db">
                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24">
                            <path fill="#000"
                                d="M20 12c0-.76.43-1.42 1.06-1.76c.6-.33.94-1.01.94-1.7V6c0-1.1-.9-2-2-2H4c-1.1 0-1.99.89-1.99 1.99v2.55c0 .69.33 1.37.94 1.69C3.58 10.58 4 11.24 4 12s-.43 1.43-1.06 1.76c-.6.33-.94 1.01-.94 1.7V18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-2.54c0-.69-.34-1.37-.94-1.7c-.63-.34-1.06-1-1.06-1.76m-5.5 4.1L12 14.5l-2.5 1.61c-.38.24-.87-.11-.75-.55l.75-2.88l-2.3-1.88a.503.503 0 0 1 .29-.89l2.96-.17l1.08-2.75c.17-.42.77-.42.93 0l1.08 2.76l2.96.17c.45.03.64.6.29.89l-2.3 1.88l.76 2.86c.12.45-.37.8-.75.55"
                                stroke-width="0.4" stroke="#000" />
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de Actividades</p>
                        <span class="cantidades" th:text="${CantidadActividad}"></span>
                    </div>
                </div>
                <div class="flex gap-1">
                    <a class="search-filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6" />
                        </svg>
                    </a>
                    <a class="btn-filtra">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 24 24">
                            <path fill="none" stroke="#000" stroke-dasharray="56" stroke-dashoffset="56"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 4h14l-5 6.5v9.5l-4 -4v-5.5Z">
                                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0" />
                            </path>
                        </svg>
                        <p>Filtrar</p>
                    </a>
                    <div class="add-btn btn_add">
                        <button class="text-open-add" id="open-add-modal">Agregar</button>
                    </div>






                    <!-- Modal para Agregar -->
                    <div class="modal modal-add">
                        <span class="close-modal">&times;</span>

                        <form th:action="@{/actividadColaboradores}" method="post" th:object="${ActividadEntidad}">
                            <p class="title-modals">Agregar Actividad</p>

                            <input type="hidden" name="idColaborador" th:value="${colaboradorLogueado.idColaborador}">

                            <label>titulo</label>
                            <input type="text" th:field="*{titulo}" required>

                            <label>descripcion</label>
                            <textarea th:field="*{descripcion}" required></textarea>

                            <label>Cupo maximo</label>
                            <input type="number" th:field="*{cupoMaximo}" required>

                            <label>Ubicacion</label>
                            <input type="text" th:field="*{ubicacion}" required>

                            <label>Categoria</label>
                            <input type="text" th:field="*{categoria}" required>

                            <button type="submit" class="btn-submit">Agregar</button>
                        </form>
                    </div>

                    <!-- Modal para Eliminar , borre close btn-->
                    <div class="modal modal-delete">
                        <form class="card">
                            <div class="header">
                                <div class="image">
                                    <svg aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                        fill="none">
                                        <path
                                            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                                            stroke-linejoin="round" stroke-linecap="round"></path>
                                    </svg>
                                </div>
                                <div class="content">
                                    <span class="title">Eliminando Acividad</span>
                                    <p class="message">
                                        Estas Seguro que tu quieres eliminar el actividad? todos sus datos sera
                                        permanentemente eliminado.
                                        this action no puedes ser undone
                                    </p>
                                </div>
                                <div class="actions">
                                    <a id="delete-confirm-btn" class="delete-btn desactivate">Eliminar</a>

                                    <button class="cancel close-btn-modal" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Modal para Editar -->




                </div>

            </div>
            <!-- Tabla de Actividad -->
            <div class="table_db">
                <table>
                    <thead>
                        <tr>
                            <th>ID Actividad</th>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Cupo maximo</th>
                            <th>Ubicacion</th>
                            <th>Categoria</th>
                            <th class="acciones">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ActividadEntidad : ${ListaActividad}">
                            <td th:text="${ActividadEntidad.idActividad}"></td>
                            <td th:text="${ActividadEntidad.titulo}"></td>
                            <td th:text="${ActividadEntidad.descripcion}"></td>
                            <td th:text="${ActividadEntidad.cupoMaximo}"></td>
                            <td th:text="${ActividadEntidad.ubicacion}"></td>
                            <td th:text="${ActividadEntidad.categoria}"></td>
                            <td class="flex justify-between items-center gap-2">


                                <div class="add-btn btn_delete">
                                    <button class="text-open-delete" id="open-delete-modal"
                                        th:attr="data-id=${ActividadEntidad.idActividad}" type="button"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24">
                                            <g fill="none">
                                                <path fill="#fff" d="M8 21h8a2 2 0 0 0 2-2V7H6v12a2 2 0 0 0 2 2"
                                                    opacity="0.16" />
                                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2.5"
                                                    d="M14 11v6m-4-6v6M6 7v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7M4 7h16M7 7l2-4h6l2 4" />
                                            </g>
                                        </svg>
                                    </button>
                                </div>

                                <div class="add-btn btn_edit">
                                    <a class="btn-edit"
                                        th:href="@{/actividadColaboradores/editarColab-form/{id}(id=${ActividadEntidad.idActividad})}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24">
                                            <path fill="#000"
                                                d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z"
                                                stroke-width="0.4" stroke="#ffaf00" />
                                        </svg>
                                    </a>
                                </div>




                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



    </section>
    <script th:src="@{/js/actividad.js}"></script>
    <script src="../../static/js/actividad.js"></script>
</body>


</html>