<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="icon" type="image/svg+xml" href="/images/logo_rework.jpg" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>ETA - Cliente Base de Datos </title>

</head>

<body>
    <section class="container-manager ">
        <div class="side-bar flex flex-col">
            <a th:href="@{/main}" class="logo-manager">
                <img th:src="@{/images/logoInBlack.webp}" alt="">
            </a>
            <div class="menu">
                <ul>
                    <li class="menu-link menu-link1">
                        <a th:href="@{/cliente}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" stroke="#000" stroke-dasharray="28" stroke-dashoffset="28"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M4 21v-1c0 -3.31 2.69 -6 6 -6h4c3.31 0 6 2.69 6 6v1">
                                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s"
                                            values="28;0" />
                                    </path>
                                    <path
                                        d="M12 11c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4Z">
                                        <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.4s"
                                            values="28;0" />
                                    </path>
                                </g>
                            </svg>
                        </a>
                    </li>

                    <li class="menu-link menu-link2">
                        <a th:href="@{/actividad}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M20 12c0-.76.43-1.42 1.06-1.76c.6-.33.94-1.01.94-1.7V6c0-1.1-.9-2-2-2H4c-1.1 0-1.99.89-1.99 1.99v2.55c0 .69.33 1.37.94 1.69C3.58 10.58 4 11.24 4 12s-.43 1.43-1.06 1.76c-.6.33-.94 1.01-.94 1.7V18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-2.54c0-.69-.34-1.37-.94-1.7c-.63-.34-1.06-1-1.06-1.76m-5.5 4.1L12 14.5l-2.5 1.61c-.38.24-.87-.11-.75-.55l.75-2.88l-2.3-1.88a.503.503 0 0 1 .29-.89l2.96-.17l1.08-2.75c.17-.42.77-.42.93 0l1.08 2.76l2.96.17c.45.03.64.6.29.89l-2.3 1.88l.76 2.86c.12.45-.37.8-.75.55"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>

                    <li class="menu-link menu-link3">
                        <a th:href="@{/colaborador}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                                <path fill="#000"
                                    d="M9.5 14a4.5 4.5 0 1 0 0-9a4.5 4.5 0 0 0 0 9m7.6 7.619c.763.235 1.714.381 2.9.381c6 0 6-3.75 6-3.75A2.25 2.25 0 0 0 23.75 16h-6.656a3.24 3.24 0 0 1 .904 2.25v.555l-.003.083a5.5 5.5 0 0 1-.154.99a6.1 6.1 0 0 1-.74 1.74M23.5 10.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0M2 18.25A2.25 2.25 0 0 1 4.25 16h10.5A2.25 2.25 0 0 1 17 18.25v.5S17 24 9.5 24S2 18.75 2 18.75z"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>

                        </a>
                    </li>

                    <li class="menu-link menu-link4">
                        <a th:href="@{/reservacion}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2">
                                    <path
                                        d="M2 11.5V5a2 2 0 0 1 2-2h3.9c.7 0 1.3.3 1.7.9l.8 1.2c.4.6 1 .9 1.7.9H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-9.5" />
                                    <path
                                        d="M11.378 13.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-link menu-link5">
                        <a th:href="@{/planes}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000"
                                    d="M15 16h3q.425 0 .713-.288T19 15V9q0-.425-.288-.712T18 8h-3q-.425 0-.712.288T14 9v6q0 .425.288.713T15 16m1-2v-4h1v4zm-7 2h3q.425 0 .713-.288T13 15V9q0-.425-.288-.712T12 8H9q-.425 0-.712.288T8 9v6q0 .425.288.713T9 16m1-2v-4h1v4zm-3 1V9q0-.425-.288-.712T6 8t-.712.288T5 9v6q0 .425.288.713T6 16t.713-.288T7 15m-5 3V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20H4q-.825 0-1.412-.587T2 18m2 0h16V6H4zm0 0V6z"
                                    stroke-width="0.4" stroke="#000" />
                            </svg>
                        </a>
                    </li>
                   

                </ul>
            </div>
            <a class="btn-salir-admin" th:href="@{/ingreso/admin}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m14 7l-5 5l5 5" />
                </svg>
            </a>
        </div>

        <div class="main-content">
            <div class="header_db">
                <h1> Principal - Base de Datos</h1>
                <!--                        
                <div class="profile">
                    <img src="/images/perfil_colaborador.jpg" alt="Profile Picture">
                </div>
                -->
                <span th:text="${adminLogueado.usuario}"></span>
            </div>

            <div class="filtro_db filtro_db-main">
                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24">
                            <g fill="none" stroke="#000" stroke-dasharray="28" stroke-dashoffset="28"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M4 21v-1c0 -3.31 2.69 -6 6 -6h4c3.31 0 6 2.69 6 6v1">
                                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="28;0" />
                                </path>
                                <path
                                    d="M12 11c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4Z">
                                    <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.4s"
                                        values="28;0" />
                                </path>
                            </g>
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de clientes</p>
                        <span class="cantidades" th:text="${CantidadCliente}"></span>
                    </div>
                </div>

                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="#000"
                                d="M3.5 8a5.5 5.5 0 1 1 8.596 4.547a9.005 9.005 0 0 1 5.9 8.18a.751.751 0 0 1-1.5.045a7.5 7.5 0 0 0-14.993 0a.75.75 0 0 1-1.499-.044a9.005 9.005 0 0 1 5.9-8.181A5.5 5.5 0 0 1 3.5 8M9 4a4 4 0 1 0 0 8a4 4 0 0 0 0-8m8.29 4q-.221 0-.434.03a.75.75 0 1 1-.212-1.484a4.53 4.53 0 0 1 3.38 8.097a6.69 6.69 0 0 1 3.956 6.107a.75.75 0 0 1-1.5 0a5.19 5.19 0 0 0-3.696-4.972l-.534-.16v-1.676l.41-.209A3.03 3.03 0 0 0 17.29 8"
                                stroke-width="0.5" stroke="#000" />
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de Colaboradores</p>
                        <span class="cantidades" th:text="${CantidadColaborador}"></span>
                    </div>
                </div>

                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="#000"
                                d="M15 16h3q.425 0 .713-.288T19 15V9q0-.425-.288-.712T18 8h-3q-.425 0-.712.288T14 9v6q0 .425.288.713T15 16m1-2v-4h1v4zm-7 2h3q.425 0 .713-.288T13 15V9q0-.425-.288-.712T12 8H9q-.425 0-.712.288T8 9v6q0 .425.288.713T9 16m1-2v-4h1v4zm-3 1V9q0-.425-.288-.712T6 8t-.712.288T5 9v6q0 .425.288.713T6 16t.713-.288T7 15m-5 3V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20H4q-.825 0-1.412-.587T2 18m2 0h16V6H4zm0 0V6z"
                                stroke-width="0.4" stroke="#000" />
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de Planes</p>
                        <span class="cantidades" th:text="${CantidadPlan}"></span>
                    </div>
                </div>


                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2">
                                <path
                                    d="M2 11.5V5a2 2 0 0 1 2-2h3.9c.7 0 1.3.3 1.7.9l.8 1.2c.4.6 1 .9 1.7.9H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-9.5" />
                                <path
                                    d="M11.378 13.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                            </g>
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de Reservaciones</p>
                        <span class="cantidades" th:text="${CantidadReservacion}"></span>
                    </div>
                </div>

                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="#000"
                                d="M15 21h-2a2 2 0 0 1 0-4h2v-2h-2a4 4 0 0 0 0 8h2Zm8-2a4 4 0 0 1-4 4h-2v-2h2a2 2 0 0 0 0-4h-2v-2h2a4 4 0 0 1 4 4"
                                stroke-width="0.5" stroke="#000" />
                            <path fill="#000"
                                d="M14 18h4v2h-4zm-7 1a6 6 0 0 1 .09-1H3v-1.4c0-2 4-3.1 6-3.1a8.6 8.6 0 0 1 1.35.125A5.95 5.95 0 0 1 13 13h5V4a2.006 2.006 0 0 0-2-2h-4.18a2.988 2.988 0 0 0-5.64 0H2a2.006 2.006 0 0 0-2 2v14a2.006 2.006 0 0 0 2 2h5.09A6 6 0 0 1 7 19M9 2a1 1 0 1 1-1 1a1.003 1.003 0 0 1 1-1m0 4a3 3 0 1 1-3 3a2.996 2.996 0 0 1 3-3"
                                stroke-width="0.5" stroke="#000" />
                        </svg>
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de Roles</p>
                        <span class="cantidades" th:text="${CantidadRoles}"></span>
                    </div>
                </div>
                <div class="filtro-function">
                    <div class="svgc">

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
                            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                d="m4.656 2.255l-.39.09a1.19 1.19 0 0 1-.91 1.43a1.22 1.22 0 0 1-1.44-.92l-.78.16a.81.81 0 0 0-.61 1s.36 1.67.78 3.55m10.85-5.32a1.32 1.32 0 1 1-2.44-1l-.81-.38a.89.89 0 0 0-1.16.47l-3.36 7.91l-.44 1a.89.89 0 0 0 .47 1.16l4.06 1.73a.89.89 0 0 0 1.16-.47l3.8-8.94a.89.89 0 0 0-.43-1.13z"
                                stroke-width="1" />
                        </svg>
                    </div>

                    <div class="filtro-eazy">
                        <p>Cantidad de Actividades</p>
                        <span class="cantidades" th:text="${CantidadActividad}"></span>
                    </div>
                </div>
            </div>
        </div>




    </section>

    <script th:src="@{/js/cliente.js}"></script>
    <script src="../static/js/cliente.js"></script>

</body>

</html>